<?xml version='1.1' encoding='UTF-8'?>
<project>
  <actions/>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties/>
  <scm class="hudson.scm.NullSCM"/>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <org.jenkinsci.plugins.dockerbuildstep.DockerBuilder plugin="docker-build-step@2.11">
      <dockerCmd class="org.jenkinsci.plugins.dockerbuildstep.cmd.StartCommand">
        <containerIds>71b02eb9d6617b6f690f807df325db67f643299d023f874db8eda73e443fd3d9</containerIds>
        <waitPorts></waitPorts>
        <containerIdsLogging></containerIdsLogging>
      </dockerCmd>
    </org.jenkinsci.plugins.dockerbuildstep.DockerBuilder>
  </builders>
  <publishers/>
  <buildWrappers/>
</project>